@model CrossPlatformDSA.DSA.Models.UserCertInfo
@{
    ViewData["Title"] = "VerifyCMS";
}

<h1>VerifyCMS</h1>
<div>Результат проверки TSP: @Model?.TSP_exists.Key @Model?.TSP_exists.Value</div>
<div>-------------------------------------------------------------------------------------</div>
<div>Сертификат истекший или не валидный: @Model?.ErrorExpiredOrInvalidWithoutKC_NOCHECKCERTTIME.Key @Model?.ErrorExpiredOrInvalidWithoutKC_NOCHECKCERTTIME.Value</div>
<div>-------------------------------------------------------------------------------------</div>
<div>Предупреждение что сертификат истекший или не валидный: @Model?.WarningExpiredOrInvalidWithKC_NOCHECKCERTTIME.Key @Model?.WarningExpiredOrInvalidWithKC_NOCHECKCERTTIME.Value</div>
<div>-------------------------------------------------------------------------------------</div>
<div>Проверка целостности подписи: @Model?.CMSvalidateMessage.Key @Model?.CMSvalidateMessage.Value</div>
<div>-------------------------------------------------------------------------------------</div>
<div>Проверка на отозванность через ocsp: @Model?.validCertificateMessage_ocsp.Key @Model?.validCertificateMessage_ocsp.Value</div>
<div>-------------------------------------------------------------------------------------</div>
<div>Проверка на отозванность через crl: @Model?.validCertificateMessage_crl.Key @Model?.validCertificateMessage_crl.Value</div>
<div>-------------------------------------------------------------------------------------</div>
<div>Ошибка сервера тут: @Model?.ExtraInfo</div>
<div>-------------------------------------------------------------------------------------</div>
<div>
    общий ответ:  @ViewBag?.Message
</div>
<div>-------------------------------------------------------------------------------------</div>
@*<div>
        InnerException:  @ViewBag?.InnerException
    </div>*@
<div>
    Platform:  @ViewBag.Platform
</div>
<div>
    <div>-------------------------------------------------------------------------------------</div>
    <h2>Информация о пользователе</h2>

    <p>name and surname-Общее имя субъекта: @Model?.NameAndSurname @Model?.MiddleName</p>
    <p>email: @Model?.Email</p>
    <p>iin: @Model?.IIN</p>
    <p>not before: @Model?.NotBefore</p>
    <p>notAfter: @Model?.NotAfter</p>
    <p>serialNumberCert-Серийный номер субъекта: @Model?.SerialNumberCert</p>
    <p>signTime:Время подписи:  @Model?.SignTime</p>

    <p>issuerCountryName-Страна издателя: @Model?.IssuerCountryName</p>
    <p>issuerSopn-Название штата или провинции издателя: @Model?.IssuerSopn</p>
    <p>issuerLocalityName-Населённый пункт издателя: @Model?.IssuerLocalityName</p>
    <p>issuerOrgName-Наименование организации издателя: @Model?.IssuerOrgName</p>
    <p>issuerOrgUnitName-Название организационного подразделения издателя: @Model?.IssuerOrgUnitName</p>
    <p>issuerCommonName-Имя Фамилия издателя: @Model?.IssuerCommonName</p>
    <p>subjectCountryName-Страна субъекта: @Model?.SubjectCountryName</p>
    <p>subjectSopn-Название штата или провинции субъекта: @Model?.SubjectSopn</p>
    <p>subjectLocalityName-Населенный пункт субъекта: @Model?.SubjectLocalityName</p>
    <p>subjectOrgName-Наименование организации субъекта: @Model?.SubjectOrgName</p>
    <p>subjectOrgUnitName-Название организационного подразделения субъекта: @Model?.SubjectOrgUnitName</p>
    <p>subjectBc-Бизнес категория субъекта: @Model?.SubjectBc</p>
    <p>subjectDc-Доменный компонент субъекта: @Model?.SubjectDc</p>
    <p>keyUsage-Использование ключа: @Model?.KeyUsage</p>
    <p>extKeyUsage-Расширенное использование ключа: @Model?.ExtKeyUsage</p>
    <p>authKeyId-Идентификатор ключа центра сертификации: @Model?.AuthKeyId</p>
    <p>subjKeyId-Идентификатор ключа субъекта: @Model?.SubjKeyId</p>
    <p>certSn-Серийный номер сертификата: @Model?.CertSn</p>
    <p>issuerDn-Отличительное имя издателя: @Model?.IssuerDn</p>
    <p>subjectDn-Отличительное имя субъекта: @Model?.SubjectDn</p>
    <p>signatureAlg-Алгоритм подписи: @Model?.SignatureAlg</p>
    <p>pubkey-Получение открытого ключа: @Model?.Pubkey</p>
    <p>policiesId-Получение идентификатора политики сертификата: @Model?.PoliciesId</p>


</div>
<div>
    <form asp-controller="Kalkan" asp-action="GetFile" method="post" enctype="multipart/form-data">
        <button type="submit">Скачать исходный файл</button>
    </form>
</div>

