@model CrossPlatformDSA.DSA.Models.UserCertInfo
@{
    ViewData["Title"] = "VerifyCMS";
}

<h1>VerifyCMS</h1>
<div>Результат проверки TSP: @Model?.TSP_exists.Key @Model?.TSP_exists.Value</div>
<div>-------------------------------------------------------------------------------------</div>
<div>Сертификат истекший или не валидный: @Model?.ErrorExpiredOrInvalidWithoutKC_NOCHECKCERTTIME.Key @Model?.ErrorExpiredOrInvalidWithoutKC_NOCHECKCERTTIME.Value</div>
<div>-------------------------------------------------------------------------------------</div>
<div>Предупреждение что сертификат истекший или не валидный: @Model?.WarningExpiredOrInvalidWithKC_NOCHECKCERTTIME.Key @Model?.WarningExpiredOrInvalidWithKC_NOCHECKCERTTIME.Value</div>
<div>-------------------------------------------------------------------------------------</div>
<div>Проверка целостности подписи: @Model?.CMSvalidateMessage.Key @Model?.CMSvalidateMessage.Value</div>
<div>-------------------------------------------------------------------------------------</div>
<div>Проверка на отозванность через ocsp: @Model?.validCertificateMessage_ocsp.Key @Model?.validCertificateMessage_ocsp.Value</div>
<div>-------------------------------------------------------------------------------------</div>
<div>Проверка на отозванность через crl: @Model?.validCertificateMessage_crl.Key @Model?.validCertificateMessage_crl.Value</div>
<div>-------------------------------------------------------------------------------------</div>
<div>Ошибка сервера тут: @Model?.extraInfo</div>
<div>-------------------------------------------------------------------------------------</div>
<div>
    общий ответ:  @ViewBag?.Message
</div>
<div>-------------------------------------------------------------------------------------</div>
@*<div>
        InnerException:  @ViewBag?.InnerException
    </div>*@
<div>
    Platform:  @ViewBag.Platform
</div>
<div>
    <div>-------------------------------------------------------------------------------------</div>
    <h2>Информация о пользователе</h2>

    <p>name and surname-Общее имя субъекта: @Model?.nameAndSurname @Model?.middleName</p>
    <p>email: @Model?.email</p>
    <p>iin: @Model?.IIN</p>
    <p>not before: @Model?.notBefore</p>
    <p>notAfter: @Model?.notAfter</p>
    <p>serialNumberCert-Серийный номер субъекта: @Model?.serialNumberCert</p>
    <p>signTime:Время подписи:  @Model?.signTime</p>

    <p>issuerCountryName-Страна издателя: @Model?.issuerCountryName</p>
    <p>issuerSopn-Название штата или провинции издателя: @Model?.issuerSopn</p>
    <p>issuerLocalityName-Населённый пункт издателя: @Model?.issuerLocalityName</p>
    <p>issuerOrgName-Наименование организации издателя: @Model?.issuerOrgName</p>
    <p>issuerOrgUnitName-Название организационного подразделения издателя: @Model?.issuerOrgUnitName</p>
    <p>issuerCommonName-Имя Фамилия издателя: @Model?.issuerCommonName</p>
    <p>subjectCountryName-Страна субъекта: @Model?.subjectCountryName</p>
    <p>subjectSopn-Название штата или провинции субъекта: @Model?.subjectSopn</p>
    <p>subjectLocalityName-Населенный пункт субъекта: @Model?.subjectLocalityName</p>
    <p>subjectOrgName-Наименование организации субъекта: @Model?.subjectOrgName</p>
    <p>subjectOrgUnitName-Название организационного подразделения субъекта: @Model?.subjectOrgUnitName</p>
    <p>subjectBc-Бизнес категория субъекта: @Model?.subjectBc</p>
    <p>subjectDc-Доменный компонент субъекта: @Model?.subjectDc</p>
    <p>keyUsage-Использование ключа: @Model?.keyUsage</p>
    <p>extKeyUsage-Расширенное использование ключа: @Model?.extKeyUsage</p>
    <p>authKeyId-Идентификатор ключа центра сертификации: @Model?.authKeyId</p>
    <p>subjKeyId-Идентификатор ключа субъекта: @Model?.subjKeyId</p>
    <p>certSn-Серийный номер сертификата: @Model?.certSn</p>
    <p>issuerDn-Отличительное имя издателя: @Model?.issuerDn</p>
    <p>subjectDn-Отличительное имя субъекта: @Model?.subjectDn</p>
    <p>signatureAlg-Алгоритм подписи: @Model?.signatureAlg</p>
    <p>pubkey-Получение открытого ключа: @Model?.pubkey</p>
    <p>policiesId-Получение идентификатора политики сертификата: @Model?.policiesId</p>


</div>
<div>
    <form asp-controller="Kalkan" asp-action="GetFile" method="post" enctype="multipart/form-data">
        <button type="submit">Скачать исходный файл</button>
    </form>
</div>

